#h2 {
  padding: 70px 0 10px 0;
  text-align: left;
  /* font-weight: bold; */
  color: #457b9d;
  font-size: 40px;
  font-family: 'Arimo', sans-serif;
}

#root {
  background-color: #F1FAEE;
}

.content {
  padding: 0 150px 80px;
  font-family: "Oswald", sans-serif;
  width: 80%;
}

.hidden {
  display: none;
}

#resume {
margin-top: 70px;
justify-content: center;
margin-bottom: 10px;
}

.blockc {
  display: block;
  text-align: left;
  width: 300px;
  margin-top: 8px;
}

.icon {
padding: 20px;
}

.title {
  display: block;
  text-align: center;
}

.bio {
  flex-grow: 1;
  min-width: 300px;
  max-width: 800px;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  /* background: #13293d; */
  background: #1d3557;
  color: #F1FAEE;
}


.hero {
  background: #1d3557;
  color: #F1FAEE;
  padding: 20px 0;
  border: none;
margin: none;
}

.nav {
  /* background: #13293d; */
  background: #1d3557;
  background-color: #1d3557;
  color: #F1FAEE;
  padding: 10px 10px 10px 10px;
  display: flex;
}

.active {
  background-color: #E8F1F2;
}

.button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 20px 2px;
}