#root {
  background: #E8F1F2;
  /* #dbcdc6 silver nah */
}

.content {
  padding: 0 50px 80px 50px;
  font-family: "Oswald", sans-serif;
  width: 80%;
}

.blockc {
  display: block;
  text-align: left;
  width: 300px;
}

.icon {
padding: 20px;
}

.title {
  display: block;
  text-align: center;
}

.bio {
  flex-grow: 1;
  min-width: 300px;
  max-width: 600px;
}

.footer {
  display: flex;
  justify-content: center;
}

h2 {
  /* margin: 5; */
  padding: 70px 0 10px 0;
  text-align: left;
  color: #1f1a38;
  font-size: 10rem;
}

.nav {
  background: #13293d;
  color: #E8F1F2;
  padding: 10;
  display: flex;
}

.active {
  background-color: #E8F1F2;
}