

.content {
  padding: 0 20px 60px;
  font-family: "Oswald", sans-serif;
  width: 100%;
}

.project-link {
  font-size: larger;
  color: #1d3557;
  font-family: 'Arial', 'sans-serif';

}

.space-above {
  padding-top: 10px;
}

.image {
  border: 5px solid #a8dadc;
  border-radius: 3px;
  opacity: 1;
  width: 170px;
}

.image :hover {
  opacity: 0.5;
}

.one-project {
  width: 300px;
  margin-bottom: 5px;
}


/* 
.hidden {
  display: none;
} */


.blockc {
  display: block;
  text-align: left;
  width: 300px;
  margin-top: 8px;
}

.icon {
  padding: 20px;
}

.title {
  display: block;
  text-align: center;
}

.bio {
  flex-grow: 1;
  min-width: 300px;
  max-width: 800px;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  /* background: #13293d; */
  background: #1d3557;
  color: #F1FAEE;
}

.hero {
  background: #1d3557;
  color: #F1FAEE;
  padding: 2px 0 18px;
  border: none;
  margin: none;
}

.nav {
  /* background: #13293d; */
  background: #1d3557;
  background-color: #1d3557;
  color: #F1FAEE;
  padding: 10px 10px 0px 10px;
  display: flex;
}

.active {
  background-color: #E8F1F2;
}

.button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 20px 2px;
  white-space: nowrap;
}

#button {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 20px 2px;

}

#root {
  background-color: #F1FAEE;
}

#h2 {
  padding: 70px 0 10px 0; 
  white-space: nowrap;
  /* modifies wrap on mobile/responsive */
  text-align: left;
  /* font-weight: bold; */
  color: #457b9d;
  font-size: 40px;
  font-family: Acme;
}

#resume {
  margin: 10px 0px;
}

@media only screen and (min-width: 950px) {
  .content {
    padding: 0 150px 60px;
    width: 80%;
  }
}